*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}
body{
    width: 100vw;
    height: 100vh;
    background: rgb(215,215,210);
    background: linear-gradient(0deg, rgba(215,215,210,1) 80%, rgba(0,150,135,1) 80%);
}

/* NOTE left section, chat directory */
.app-container{
    width: 80%;
    height: 80vh;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}
.chat-directory-bg{
    background-color: #e6e6e6;
}
/* SECTION propic-name-icon*3  */
.pro-pic{
    height: 40px;
}
/* SECTION enable notifications */
.notifications{
    background-color: #8CD7FA;
}
.bell-icon{
    background-color: #F0FAFF;
    min-width: 40px;
    min-height: 40px;
    max-width: 55px;
    max-height: 55px;
    margin: 10px 5px;
    aspect-ratio: 1;
}
/* SECTION chat search */
.input-group{
    background-color: #FAFAFA;
}
/* SECTION chat list */
.chat-thumb-bg{
    position: relative;
    overflow: auto;
    background: white;
    height: 100%;
    padding-top: 5px;
}
.chat-thumb-name{
    font-size: small;
}
.chat-thumb-info{
    font-size: smaller;
}

 /* NOTE right section, chat display */
.chat-section{
    position: relative;
    max-height: 100%;
}
/* SECTION  speaker account */
.chat-name{
    font-size: medium;
}
.chat-info{
    font-size: small;
}

/* SECTION chat body */
.chat-body{
    width: 600px;
    background-image: url(./img/mine.jpg);
    position: fixed;
    top: 55px;
    right: 0;
    bottom: 55px;
    overflow-y: scroll;
    z-index: -1;
}

/*SECTION chat body*/

.message{
    text-align: start;
    padding: 2px 5px;
    max-width: 60%;
    max-height: fit-content;
}
.message-text{
    text-align: start;
    overflow-wrap: break-word;
    word-break: break-all;
}
.message.send{
    background-color: #d2f5b9;
}
.message.recived{
    background-color: white;
    max-height: fit-content;
}
.message-date{
    font-size: x-small;
    text-align: end;
}




.new-message-section{
    background-color: #f0ebe6;
    position: fixed;
    bottom: 0;
    right: 0;
}